<!DOCTYPE html>
<html lang="en">
<head>
  <title>Full Cycle PFA Desafio 1</title>
</head>
<body>
    <div class="table-data">
<h2>Modulos do Curso</h2>
    <table border="1">
        <tr>
            <th>Nome</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.nome %></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>